.fondoNosotros {
  color: rgb(249, 251, 252);
  background-color: rgba(7, 7, 7, 0.349);
  padding: 20px;
  border-radius: 0%;
  align-content: center;
  text-align: center;
}

.fondo {
  background-image: url("../../../media/_tab44811-f44fc843f3dc9bfe7516285632522168-1024-1024.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
